@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This application is used by parents to keep track of their childrens items. But ultimately to also have the option 
    to move certain items to a donation list that other family members can find and elect to claim items from. 
    In addition a list of items can be created as a wish list allowing other family members to match up items they
    may be donating. The ultimate purpose is to prevent waste and duplication by providing an exchange platform for
    families.</p>
