@model HandItDown.Models.HomeViewModels.HomeIndexViewModel;

@{
    ViewData["Title"] = "Home Page";
}



<div>
    <h1>Welcome to Toy Tracker </h1>
    <h3>An application to keep track of your child's items, a wish list and even items to donate.</h3>
</div>


