@model HandItDown.Models.HomeViewModels.HomeIndexViewModel;

@{
    ViewData["Title"] = "Home Page";
}



<div>
    <h1>Welcome to Toy Tracker </h1>
    <h3>An application to keep track of your child's items, create a wish list and show items to donate for family and friends.</h3>
</div>


