@model HandItDown.Models.HomeIndexViewModel.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}



<div>
    <h1>Welcome to Hand It Down </h1>
    <h3>An application to keep track of your child's items, a wish list and even items to donate.</h3>
</div>


